<!-- Navbar start -->
<div class="container-fluid px-0">
    <nav class="navbar navbar-light custom-navbar navbar-expand-xl" [ngClass]="{'fixed-top': !isAdminRoute()}">
        <a href="index.html" class="navbar-brand">
            <h1 class="text-primary display-6">Shop Cart</h1>
        </a>
        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-primary"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto custom-navbar2">
                <a routerLinkActive="active" routerLink="" class="nav-item nav-link">Home</a>
                <a routerLinkActive="active" routerLink="/products" class="nav-item nav-link">Shop</a>
                <a routerLinkActive="active" routerLink="/cart" class="nav-item nav-link">Cart</a>
                <a routerLinkActive="active" routerLink="/contact" class="nav-item nav-link">Contact</a>
            </div>

            <!-- Admin Link: Conditionally display if user is admin -->
            <a *ngIf="" routerLinkActive="active" routerLink="/admin" class="nav-item nav-link h4">Admin</a>
            
            <div class="d-flex m-3 me-0">
                <div class="input-group">
                    <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search products..." aria-label="Search">
                    <button class="btn btn-outline-secondary" type="button" (click)="searchProducts()">
                        <i class="fas fa-search text-primary"></i>
                    </button>
                    

                </div>
                <a routerLink="/cart" class="position-relative me-4 my-auto ms-3">
                    <i class="fa fa-shopping-bag fa-2x"></i>
                    <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;"></span>
                </a>
                
                <!-- Conditional rendering for login/logout icons -->
                <a *ngIf="isLoggedIn(); else loginLink" (click)="onLogout()" class="my-auto">
                    <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                </a>
                <ng-template #loginLink>
                    <a routerLink="/login" class="my-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </ng-template>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
